@mixin scrollable {
  margin-right: 6px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 4px;
    margin: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b4ab9d;
    margin: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e8e3da;
    margin: 8px;
  }
}
